a {
    color: black;
    text-decoration: none;
    font-family: arial;

}

body {
    font-family: arial;
    position: relative;
    overflow-x: hidden;
    height: 200vh;
    margin: 0px;
    padding: 0px;
}

.FSECTION {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(252, 252, 252);
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.div-links {
    flex: 1;
    max-width: 600px;
    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.LogoDiv {
    margin-left: 10px;
}

.div-links>a {
    text-decoration: none;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.4s;
}

.div-links>a:hover {
    color: rgba(115, 0, 197, 0.8);
}

.div-links>a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #8F00FF;
    left: 0%;
    bottom: -8px;
    z-index: 10;
}

.div-links>a:hover::after {
    width: 100%;
    transition: all 0.9s;
}

.AccountSet {
    margin-right: 20px;
}

.AccountSet>button {
    margin: 0 20px;
    padding: 0.7rem 1.2rem;
    border: none;
    border-radius: 20px;
    background-color: #8F00FF;
    color: white;
    font-size: 1.05rem;
    cursor: pointer;
    transition: all 0.7s;
}

.AccountSet>button:hover {
    opacity: 0.7;
    color: #FFFFFF;
}


.AccountSet>a {
    font-weight: bold;
    color: #8F00FF;
    transition: all 0.5s ease;
}

.AccountSet>a:hover {
    color: #c982ff;
}

.HeadDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.HeadDiv>h1 {
    font-size: 4rem;
    max-width: 700px;
    text-align: center;
    font-weight: 500;
}

.HeadDiv>h1>span {
    color: #8F00FF;
    font-weight: 700;

}

.Circle {
    width: 15rem;
    height: 15rem;
    position: absolute;
    border-radius: 50%;
    background-color: #8F00FF;
    filter: blur(80px);
}

.fCrcle {
    top: 30%;
    right: 3%;
    animation: FC 4.7s infinite ease-in-out;
}

@keyframes FC {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-50px);
    }

    75% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.sCrcle {
    bottom: 20%;
    left: 5%;
    animation: FC 4.7s infinite ease-in-out;
}

.DisplayMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    width: 100%;
}

.GlassDiv {
    position: absolute;
    width: 15rem;
    height: 15rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(19.5px);
    -webkit-backdrop-filter: blur(19.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.GlassDiv>p {
    text-align: center;
    font-size: 1.1rem;
    color: #8F00FF;
}

.FG {
    top: 2%;
    right: 55%;
    z-index: 3;

    animation: FG 20s infinite ease-in-out;
}

.SG {
    top: 7%;
    left: 55%;
    z-index: 10;
    animation: SG 20s infinite ease-in-out;

}

.TG {
    bottom: 3%;
    left: 43%;
    z-index: 6;
    animation: TG 20s infinite ease-in-out;

}

@keyframes TG {
    0% {
        transform: translate(0px, 0px);
        z-index: 6;
    }

    33% {
        transform: translate(-210px, -223px);
        z-index: 3;

    }

    66% {
        transform: translate(186px, -200px);
        z-index: 10;
    }

    100% {
        transform: translate(0px, 0px);
        z-index: 6;
    }
}

@keyframes SG {
    0% {
        transform: translate(0px, 0px);
        z-index: 10;
    }

    33% {
        transform: translate(-185px, 200px);
        z-index: 6;

    }

    66% {
        transform: translate(-400px, -30px);
        z-index: 3;
    }

    100% {
        transform: translate(0px, 0px);
        z-index: 10;
    }
}

@keyframes FG {
    0% {
        transform: translate(0px, 0px);
        z-index: 3;
    }

    33% {
        transform: translate(390px, 20px);
        z-index: 10;
    }

    66% {
        transform: translate(210px, 220px);
        z-index: 6;

    }

    100% {
        transform: translate(0px, 0px);
        z-index: 3;
    }
}