.custom-shape-divider-top-1677610246 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1677610246 svg {
    position: relative;
    display: block;
    width: calc(101% + 1.3px);
    height: 122px;
}

.custom-shape-divider-top-1677610246 .shape-fill {
    fill: #C100FF;
}